# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
venv/
env/
miniconda3/
.env
.venv
ENV/

# Data
data/raw/
data/processed/
*.pkl
*.csv
*.json
data/repos/
temp_check_qfrrfdb0/

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Logs
*.log
logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
